<div>

    <p class="lead"> {{perfil.usuario}}</p>

    <p class="lead" *ngFor="let item of perfil.rol"> {{item}} </p>
</div>
<button mat-raised-button color="accent" (click)="cerrar()">Cerrar</button>
