<router-outlet></router-outlet>

<div class="example-header">
  <mat-form-field>
      <input matInput (keyup)="filtrar($event.target.value)" placeholder="Buscar signos vitales">
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <ng-container matColumnDef="idSignosVitales">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.idSignosVitales}} </td>
  </ng-container>

  <ng-container matColumnDef="paciente">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Paciente </th>
    <td mat-cell *matCellDef="let element"> {{element.paciente.nombres | uppercase }}
      {{element.paciente.apellidos | lowercase}} </td>
  </ng-container>

  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
    <td mat-cell *matCellDef="let element"> {{element.fecha | date:'dd-MM-yyyy hh:mm:ss a'}} </td>
  </ng-container>

  <ng-container matColumnDef="pulso">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Pulso </th>
    <td mat-cell *matCellDef="let element"> {{element.pulso}} </td>
  </ng-container>

  <ng-container matColumnDef="ritmoRespiratorio">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Ritmo Respiratorio </th>
    <td mat-cell *matCellDef="let element"> {{element.ritmoRespiratorio}} </td>
  </ng-container>

  <ng-container matColumnDef="temperatura">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura </th>
    <td mat-cell *matCellDef="let element"> {{element.temperatura}} </td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" [routerLink]="['edicion', element.idSignosVitales]">
        <mat-icon>ballot</mat-icon>
      </button>
      <button mat-button color="accent" (click)="eliminar(element.idSignosVitales)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>

<mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" [length]="cantidad" (page)="mostrarMas($event)"></mat-paginator>
<!-- AQUI -->
<button mat-fab color="accent" style="float: right" routerLink="/signos-vitales/nuevo">
  <mat-icon>plus_one</mat-icon>
</button>
