<!-- No olvidar agregar ReactiveFormsModule en App.module.ts, util para trabajar con formularios-->
<form class="example-container" [formGroup]="form" #frmPaciente="ngForm" (ngSubmit)="operar()">

  <div [hidden]="true">
      <mat-form-field class="example-full-width">
          <input matInput placeholder="ID" required formControlName="idSignosVitales">
      </mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Selecciona paciente" required formControlName="idPaciente">
      <mat-option *ngFor="let p of (pacientes$ | async)" [value]="p.idPaciente">
          {{ p.nombres }} {{ p.apellidos }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput required formControlName="fecha" [matDatepicker]="picker" placeholder="Escoger una fecha dd/mm/yyyy">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Pulso" required formControlName="pulso">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Ritmo Respiratorio" required formControlName="ritmoRespiratorio">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <input matInput placeholder="Temperatura" required formControlName="temperatura">
  </mat-form-field>


  <button mat-raised-button color="primary" type="submit" [disabled]="frmPaciente.invalid">
      <mat-icon>done</mat-icon>
      <span>Aceptar</span>
  </button>
  <button mat-raised-button color="accent" routerLink='/signos-vitales' type="button">
      <mat-icon>close</mat-icon>
      <span>Cancelar</span>
  </button>

</form>
